{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block titulo %}
Cadastro de Despesa
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="header-left">
        <div class="row">
            <div class="col-xl-12 stretch-card grid-margin">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <div class="container-fluid">
                                        <div class="row mb-0">
                                            <div class="col-sm-6">
                                                <h1 class="m-0"><i class="fa fa-table menu-icon"></i> Cadastro de Despesa</h1>
                                            </div>
                                            <div class="col-sm-6">
                                                <ol class="breadcrumb float-sm-right">
                                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                    <li class="breadcrumb-item active">Cadastro de Despesa</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    {{ form.des_datadespesa.errors }}
                                                    <label for="{{ form.des_datadespesa.id_for_label }}">Data da Despesa</label>
                                                    {{ form.des_datadespesa | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.des_valordespesa.errors }}
                                                    <label for="{{ form.des_valordespesa.id_for_label }}">Valor</label>
                                                    {{ form.des_valordespesa | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form.nat_despesa.errors }}
                                                    <label for="{{ form.nat_despesa.id_for_label }}">Despesa</label>
                                                    {{ form.nat_despesa | add_class:"form-control"|attr:"autofocus" }}
                                                </div>

                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    {{ form.fornecedor.errors }}
                                                    <label for="{{ form.fornecedor.id_for_label }}">Fornecedor</label>
                                                    {{ form.fornecedor | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form.meiodepagamento.errors }}
                                                    <label for="form.meiodepagamento.id_for_label">Meio de Pagamento</label>
                                                    {{ form.meiodepagamento | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.des_status.errors }}
                                                    <label for="form.des_status.id_for_label">Status</label>
                                                    {{ form.des_status | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form.des_itensdespesa.errors }}
                                                    <label for="{{ form.des_itensdespesa.id_for_label }}">Itens</label>
                                                    {{ form.des_itensdespesa | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form.des_obs.errors }}
                                                    <label for="{{ form.des_obs.id_for_label }}">Observações</label>
                                                    {{ form.des_obs | add_class:"form-control"|attr:"autofocus" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary mr-2">
                                                        <i class="fa fa-save"></i> Salvar
                                                    </button>
                                                    <button type="button" class="btn btn-success mr-2" onClick="history.go(-1)">
                                                        <i class="fa fa-angle-double-left"></i> Voltar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}