{% extends 'home.html' %}

{% block titulo %}
Listagem de Despesas
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="header-left">
        <div class="row">
            <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row mb-0">
                                        <div class="col-sm-6">
                                            <h1 class="m-0"><i class="fa fa-table menu-icon"></i> Listagem de Despesas</h1>
                                        </div>
                                        <div class="col-sm-6">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active">Listagem de Despesas</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h5 class="pull-left"></i> <Strong>Filtro:</Strong></h5>
                                <form class="form-inline my2-lg-0 float-sm-right">
                                    <label>Data Inicial</label>
                                    <input class="form-control ml-sm-2 mr-sm-2" name='start_date' type="date">
                                    <label>Data Final</label>
                                    <input class="form-control ml-sm-2 mr-sm-2" name='end_date' type="date">
                                    <button class="btn btn-primary btn-sm" type="submit"><i class="fas fa-search"></i></button>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-striped">
                                        <thead>
                                            <tr class="bg-inverse-success" style="text-align: center">
                                                <th><strong>ID</strong></th>
                                                <th><strong>Data</strong></th>
                                                <th><strong>Natureza</strong></th>
                                                <th><strong>Valor</strong></th>
                                                <th><strong>Fornecedor</strong></th>
                                                <th><strong>Meio de Pagamento</strong></th>
                                                <th><strong>Status</strong></th>
                                                <th><strong>Itens</strong></th>
                                                <th><strong>Ações</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for d in despesas %}
                                            <tr>
                                                <td>{{ d.id }}</td><td>{{ d.des_datadespesa | date:'d/m/Y' }}</td>
                                                <td>{{ d.nat_despesa }}</td>
                                                <td align="right">{{ d.des_valordespesa | floatformat:2 }}</td>
                                                <td>{{ d.fornecedor }}</td>
                                                <td>{{ d.meiodepagamento }}</td>
                                                {% if d.des_status == '1' %}
                                                    <td><span class="badge rounded-pill bg-success">{{ d.get_des_status_display }}</span></td>
                                                {% elif d.des_status == '2' %}
                                                <td><span class="badge rounded-pill bg-warning">{{ d.get_des_status_display }}</span></td>
                                                {% else %}
                                                    <td><span class="badge rounded-pill bg-danger">{{ d.get_des_status_display }}</span></td>
                                                {% endif %}
                                                <td>{{ d.des_itensdespesa | safe | truncatewords_html:2 }}</td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    <a href="{% url 'despesas:listar_detalhe_despesa' d.id %}">
                                                        <i class="fa fa-search" aria-hidden="true"
                                                           style="color: green;"></i>
                                                    </a>
                                                    <a href="{% url 'despesas:editar_despesa' d.id %}">
                                                        <i class="fa fa-edit" aria-hidden="true"
                                                           style="color: blue;"></i>
                                                    </a>
                                                    <a href="{% url 'despesas:excluir_despesa' d.id %}">
                                                        <i class="fas fa-trash" aria-hidden="true"
                                                           style="color: red;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
<!--                                            <tr></tr>-->
<!--                                            <tr>-->
<!--                                                <td class="bg-inverse-danger" rowspan="2"><strong>Resumo</strong></td>-->
<!--                                                <td class="bg-inverse-danger" colspan="2"><strong>Total</strong></td>-->
<!--                                                <td class="bg-inverse-danger" align="right" colspan="1"><strong>{{ total_despesas.des_valordespesa__sum | floatformat:2  }}</strong></td>-->
<!--                                                <td class="bg-inverse-danger"colspan="5"></td>-->
<!--                                            </tr>-->
<!--                                            <tr>-->
<!--                                                <td class="bg-inverse-danger" colspan="2"><strong>Média</strong></td>-->
<!--                                                <td class="bg-inverse-danger" align="right" colspan="1"><strong>{{ media_despesas.des_valordespesa__avg | floatformat:2  }}</strong></td>-->
<!--                                                <td class="bg-inverse-danger"colspan="5"></td>-->
<!--                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-3 mb-2 bg-light text-dark">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary btn-sn" href="{% url 'despesas:inserir_despesa' %}">
                                            <i class="fa fa-plus"></i>
                                            <span> Cadastrar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}