{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block titulo %}
Detalhar Despesa
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="header-left">
            <div class="row">
                <div class="col-xl-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="pull-left"><i class="mdi mdi mdi-cash-usd menu-icon"></i> Detalhe da Despesa</h2>
                                </div>
                                <div class="card-body">
                                    <div class="card-header">
                                        <h3>Despesa: <strong>{{ despesa.id }} - {{ despesa.nat_despesa }}</strong></h3>
                                    </div>
                                    <div class="card-body">
                                        <h6><strong>Data: </strong>{{ despesa.des_datadespesa | date:'d/m/y' }}</h6>
                                        <h6><strong>Valor: </strong>R$ {{ despesa.des_valordespesa}}</h6>
                                        <h6><strong>Despesa: </strong>{{ despesa.nat_despesa}}</h6>
                                        <h6><strong>Fornecedor: </strong>{{ despesa.fornecedor}}</h6>
                                        <h6><strong>Meio de Pagamento: </strong>{{ despesa.meiodepagamento}}</h6>
                                        {% if despesa.des_status == '1' %}
                                        <h6><strong>Status: </strong><span class="badge badge-success">{{ despesa.get_des_status_display}}</span></h6>
                                        {% elif despesa.des_status == '2' %}
                                            <h6><strong>Status: </strong><span class="badge badge-warning">{{ despesa.get_des_status_display}}</span></h6>                                          <td><span class="badge badge-warning">{{ d.get_des_status_display }}</span></td>
                                        {% else %}
                                            <h6><strong>Status: </strong><span class="badge badge-danger">{{ despesa.get_des_status_display}}</span></h6>
                                        {% endif %}
                                        <h6><strong>Itens: </strong>{{ despesa.des_itensdespesa | truncatewords_html:35}}</h6>
                                        <h6><strong>Observações: </strong>{{ despesa.des_obs | truncatewords_html:35}}</h6>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-linkedin" onClick="history.go(-1)">
                                            <i class="fa fa-angle-double-left"></i> Voltar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}
