{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block titulo %}
Listagem de despesas
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="header-left">
            <div class="row">
                <div class="col-xl-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="pull-left"><i class="fa fa-table menu-icon"></i> Listagens  de Despesas</h2>
                                    <form class="form-inline pull-right">
                                        <div style="float: right;">
                                            <a class="btn btn-primary btn-sm" href="{% url 'despesas:inserir_despesa' %}"><i class="fa fa-plus"></i><span> Cadastrar</span></a>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th><strong>Data</strong></th>
                                                <th><strong>Natureza</strong></th>
                                                <th><strong>Valor</strong></th>
                                                <th><strong>Fornecedor</th>
                                                <th><strong>Meio de Pagamento</strong></th>
                                                <th><strong>Status</strong></th>
                                                <th><strong>Itens</strong></th>
                                                <th><strong>Ações</strong></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in despesas %}
                                            <tr>
                                                <td>{{ d.des_datadespesa | date:'m/d/Y' }}</td>
                                                <td>{{ d.nat_despesa }}</td>
                                                <td>{{ d.des_valordespesa }}</td>
                                                <td>{{ d.fornecedor }}</td>
                                                <td>{{ d.meiodepagamento }}</td>
                                                <td>{{ d.get_des_status_display }}</td>
                                                <td>{{ d.des_itensdespesa | truncatewords_html:7 }}</td>
                                                <td style="text-align: center; vertical-align: middle;">
                                                    <a href="#">
                                                        <i class="fa fa-search" aria-hidden="true" style="color: green;"></i>
                                                    </a>
                                                    <a href="{% url 'despesas:editar_despesa' d.id %}">
                                                        <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i>
                                                    </a>
                                                    <a href="{% url 'despesas:excluir_despesa' d.id %}">
                                                        <i class="mdi mdi-delete" aria-hidden="true" style="color: red;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}