{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block titulo %}
Editar Fornecedor
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="header-left">
            <div class="row">
                <div class="col-xl-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <h2><i class="mdi mdi mdi-cash-usd menu-icon"></i> Editar Fornecedor</h2>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    {{ form.for_fornecedor.errors }}
                                                    {{ form.for_fornecedor | as_crispy_field }}
                                                </div>
                                                <div class="col-md-3">
                                                    {{ form.for_fone.errors }}
                                                    {{ form.for_fone | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form.for_obs.errors }}
                                                    {{ form.for_obs | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 mb-2 bg-light text-dark">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-primary mr-2">
                                                        <i class="mdi mdi-content-save"></i> Salvar
                                                    </button>
                                                    <button type="button" class="btn btn-light" onClick="history.go(-1)">
                                                        <i class="fa fa-angle-double-left"></i> Voltar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}