{% extends 'home.html' %}

{% block titulo %}
Excluir Fornecedor
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="header-left">
        <div class="row">
            <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row mb-0">
                                        <div class="col-sm-8">
                                            <h1 class="m-0"><i class="fa fa-trash menu-icon"></i> Excluir Fornecedor</h1>
                                        </div>
                                        <div class="col-sm-4">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active">Excluir Fornecedor</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-header"><h4>Deseja realmente excluir do sistema os dados abaixo:</h4><br>
                                    <h6>Fornecedor: <strong>{{ form.for_fornecedor }}</strong></h6>
                                    <h6>Tefefone: <strong>{{ form.for_fone}}</strong></h6>
                                    <h6>Observações: <strong>{{ form.for_obs}}</strong></h6>
                                </div>
                                <div class="p-3 mb-2 bg-light text-dark">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i> Remover</button>
                                                <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                                                    <i class="fa fa-angle-double-left"></i> Voltar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}