{% extends 'home.html' %}

{% load crispy_forms_tags %}

{% block titulo %}
Detalhar Fornecedor
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="content-wrapper pb-0">
        <div class="header-left">
            <div class="row">
                <div class="col-xl-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header">
                                    <h2 class="pull-left"><i class="mdi mdi mdi-cash-usd menu-icon"></i> Detalhe da Natureza da Despesa</h2>
                                </div>
                                <div class="card-body">
                                    <div class="card-header">
                                        <a href="/fornecedores/listar/{{ fornecedor.id }}/"><h4>{{ fornecedor.for_fornecedor }}</h4></a>
                                    </div>
                                    <div class="card-body">
                                        <p>Telefone: <strong>{{ fornecedor.for_fone }}</strong></p>
                                        <p>Obeservações: <strong>{{ fornecedor.for_obs }}</strong></p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                                            <i class="fa fa-angle-double-left"></i> Voltar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}
