{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <p>
        {% if request.user.is_authenticated %}
        Hello, {{ request.user.username }}
        {% else %}
        Hello anonymous user!
        {% endif %}
    </p>

    <a class="btn btn-primary" href="/inserir">Inserir a Natureza da Despesa</a>
</div>
<div class="col-4 offset-4">
    {% for n in natdespesas  %}
    <div class="card mt-3">
        <div class="card-header">
            <a href="/{{ n.id }}"><h4>{{ n.nat_despesa }}</h4></a>
        </div>
        <div class="card-body">
            <p>{{ n.nat_obs }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}