{% extends 'home.html' %}

{% block titulo %}
Detalhes da Natureza da Despesa
{% endblock titulo %}

{% load static %}

{% block pages %}
<div class="main-panel">
    <div class="header-left">
        <div class="row">
            <div class="col-xl-12 stretch-card grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header">
                                <div class="container-fluid">
                                    <div class="row mb-0">
                                        <div class="col-sm-8">
                                            <h1 class="m-0"><i class="fa fa-info-circle"></i> Detalhes da Nat. de Despesa</h1>
                                        </div>
                                        <div class="col-sm-4">
                                            <ol class="breadcrumb float-sm-right">
                                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                                <li class="breadcrumb-item active">Detalhes da Nat. de Despesa</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="p-3 mb-2 bg-light text-dark">
                                    <div class="row">
                                        <div class="col-md-12">
                                                <a href="/listar/{{ natdespesa.id }}/"><h4>Despesa: {{ natdespesa.nat_natdespesa }}</h4></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 mb-2 bg-light text-dark">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>Observações: <strong>{{ natdespesa.nat_obs }}</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-3 mb-2 bg-light text-dark">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary" onClick="history.go(-1)">
                                                <i class="fa fa-angle-double-left"></i> Voltar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pages %}
